Rules
This is a list of all of the Rules I have made for myself.
!!!RULES ARE SUBJECT TO CHANGE!!!

Mob Cards
2x Common Cards = Another Common Card
4x Common Cards = An Uncommon Card
2x Uncommon Cards = Another Uncommon Card
4x Uncommon Cards = A Rare Card
2x Rare Cards = Another Rare Card
4x Rare Cards = An Epic Card

Useless Items
Normal Items are deleted
6x Accessories = 1x Accessory of Choice
6x Relics = 1x Relic of Choice

Roulette Wheels
Egg Wheel is spun 1x per stream
Fossil Wheel is spun 1x per Saturday stream

Release Rule
Any non-wanted Pokemon can be released after achieving highest evolved form, minus those requiring Evolution Items

Village Rules
Take and Use items freely
Can Use Crafting Buildings
Can Steal Villagers Freely

Food Rules
Can only eat Raw Potatoes, Cooked Fish Fillets, Cookies, Milk, and Honey
